includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - includes/
        - templates/
        - photolab.php
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - stubs/photolab-constants.php

